<%- include("partials/header"); -%>

<h1> <%= ht1 %> </h1>

<form class="" action="/compose" method="post">
<div class="form-group">
  <label>Title</label>
  <input type="text" class="form-control" name="ct1" value="">
  <label>Post</label>
  <textarea name="ct2" class="form-control" rows="8" cols="140"></textarea>
</div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>
